.form{
  background:
  linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
  linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
  linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
  background-color:#e1ebbd;
  background-size: 128px 128px;
}
@font-face {
font-family: 'Choco Cookies Regular';
font-style: normal;
font-weight: normal;
src: local('Choco Cookies Regular'), url('Choco Cookies Demo.woff') format('woff');
}


h1{

    font-family: 'Choco Cookies Regular';
  font-weight: 400;
  color: #01030C;


}
